@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.table{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid black;
    padding : 0 30px
}
header{
    text-align: center;
}
header h1{
    line-height: 1rem;
}
header p{
    line-height: .4rem;
    font-weight: 600;
}
.phone{
    font-size: 18px;
    font-weight: bold;
}
.skils{
    width: 70%;
    margin: auto;
}
/* .skills h1{
    position: relative;
}
.dot{
    font-size: 50px;
    position: absolute;
    top: 0;
} */
.title{
    position: relative
}
.skils h1::before{
    content: '.';
    position: absolute;
    font-size: 45px;
    top: -85%;
    left: -2%;
}
.skillName{
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.skillData{
    font-weight: bold;
    font-size: 18px;
}
.diviceBorder{
    border: 3px solid #b6b6b6;
}
.deviceSpan{
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    border: none;
}
.functionality li{
    color: #575757;
    font-weight: bold;
}
.siteBtn{
    text-align: center;
}
.siteBtn button{
    margin: 20px 20px 0;  
    cursor: pointer;
}