.projectMain{
        /* background-image: url('../../Data/headerMain.jpg'); */
        background-image: url('https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
        /* background-image: url('https://i.ibb.co/jRmQYZB/photo-1498721441674-67b1e1e17a5b.jpg'); */
        background-repeat: no-repeat;
        background-position: auto;
        background-size: cover;
}