@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

body {
    height: 100%;
    /* font-family: 'Yuji Boku', serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Barriecito', cursive;
    color: white;
    overflow: hidden;
}

.social-icon>svg {
    height: 26px;
    width: 26px;
}

.skill-icon>svg {
    height: 26px;
    width: 26px;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 785px) {
    body {
        overflow: scroll;
    }
}